*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --primer-color: #F5CF06;
    --secondary-color: #8E4106;
    --space-default: 70px;
}

body{
    height: 100vh;
    background-color: var(--primer-color);
    display: flex;
    flex-direction: column;
    padding-top: var(--space-default);
    padding-bottom: 24px;
}

header{
    background-color: violet;
    height: 48px;
}

main{
    background-color: tomato;
    flex-grow: 1;
}

footer{
    background-color: yellowgreen;
    
}